﻿@{
    ViewData["Title"] = "Home Page";
    @model List<int>
}

<div class="text-center">
    <h1>Recipes</h1>
</div>
<div id="main_list">

</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>

    var accessToken = "@ViewData["access_token"]";
    var accountID = "@ViewData["account_id"]";
    var favorites = '@String.Join(",",Model)'.split(",");
    console.log(favorites);
    $.ajax({
        url: 'http://localhost:5000/api/recipes',
        type: 'GET',
        beforeSend: function (xhr) {
            xhr.setRequestHeader('Authorization', 'Bearer ' + accessToken);
        },
        data: {},
        success: function (data) {
            console.log(data)
            var $div = $("#main_list")
            data.forEach(function (item, index) {
                var favtext = "Add To Favorites";
                var favclass = "btn-primary";
                var favlink = "Add";
                if (favorites.includes(item.id.toString())) {
                    favtext = "Remove From Favorites";
                    favclass = "btn-danger";
                    favlink = "Remove";
                }
                var $title = $("<h5>", { "class": "card-title", "text": item.name });
                var $description = $("<p>", { "class": "card-text", "text": item.description.substring(0, 20) + "..."});
                var $div_int = $("<div>", { "class": "card-img-overlay"});
                $div_int.append($title).append($description);
                var $img = $("<img>", { "src": "/img/" + item.photoName, "class": "card-img", "alt": item.photoName, "style": "height:100%" });
                var account = "@ViewData["account_type"]";
                if (account == "user") {
                    var $favorite = $("<a>", { "text": favtext, "class": "btn " + favclass, "href": "/Favorite/" + favlink + "?recipeID=" + item.id + "&userID=" + accountID })
                }
                var div_ext = $("<div>", { "class": "card bg-dark text-white", "style": "height:300px;margin:60px" }).click(function () {
                    var account = "@ViewData["account_type"]";
                    if (account == "") {
                        window.location.href = "https://localhost:5001/Account/Login";
                    }
                    else {
                        window.location.href = "https://localhost:5001/recipe/Show/" + item.id;
                    }
                    console.log(item.id);
                    console.log(account);
                });
                div_ext.append($img).append($div_int).append($favorite);
                $div.append(div_ext);
            });
            @*
            var account = "@ViewData["account_type"]";
            if (account == "administrator") {
                var $img = $("<img>", { "src":"/img/plus.png", "class":"card-img", "alt":"Plus","style":"height:100%;width:200px;margin:auto"});
                var div_ext = $("<div>", { "class": "card bg-dark text-white", "style": "height:200px;margin:20px" }).click(function () {
                    window.location.href = "https://localhost:5001/Recipe/CreateRecipe";                                                                                                                                                                     
                });
                div_ext.append($img);
                $div.append(div_ext);
            }
            *@
        },
        error: function (msg) { console.log(msg) },
});

</script>
