﻿@model IngredientViewModel

<form asp-controller="Recipe" asp-action="AddIngredient" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>
    Name:  <input asp-for="Name" /> <br />
    <span asp-validation-for="Name"></span><br />
    Quantity:  <input asp-for="Quantity" /> <br />
    <span asp-validation-for="Quantity"></span><br />
    <input asp-for="formFile" type="file" class="form-control" />
    <span asp-validation-for="formFile" class="text-danger"></span>
    <button type="submit">Add Ingredient</button>
</form>