﻿@model RecipeViewModel

    <form asp-controller="Recipe" asp-action="CreateRecipe" method="post"  enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly"></div>
        Name:  <input asp-for="Name" /> <br />
        <span asp-validation-for="Name"></span><br />
        Description:  <input asp-for="Description" /> <br />
        <span asp-validation-for="Description"></span><br />
        <input asp-for="formFile" type="file" class="form-control" />
        <span asp-validation-for="formFile" class="text-danger"></span>
        <button type="submit">Add Recipe</button>
    </form>