﻿@model RecipeViewModel

<form asp-controller="Recipe" asp-action="Edit" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>
    <input asp-for="id" value="@Model.id" readonly style="display:none"/>
    Name:  <input asp-for="Name" value="@Model.Name"/> <br />
    <span asp-validation-for="Name"></span><br />
    Description:  <input asp-for="Description" value="@Model.Description"/> <br />
    <span asp-validation-for="Description"></span><br />
    <input asp-for="formFile" type="file" class="form-control" />
    <input asp-for="PhotoName" value="@Model.PhotoName" readonly style="display:none"/>
    <span asp-validation-for="formFile" class="text-danger"></span>
    <button type="submit">Edit Recipe</button>
</form>