﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Recipe";
    @model Dictionary<string, string>;
}
<div class="row" id="main">
    <div class="card mb-3 ml-auto mr-auto">
        <img class="card-img-top" id="recipe_img">
        <div class="card-body">
            <h5 class="card-title" id="recipe_name"></h5>
            <p class="card-text" id="recipe_description"></p>
            @if (@ViewData["account_type"] == "administrator")
            {
                <div class="row">
                    <div class="col-sm">
                        <a class="btn btn-primary" asp-controller="Recipe" asp-action="Edit" asp-route-id='@Model["id"]'><i class="fas fa-edit" ></i> EDIT</a>
                    </div>
                    <div class="col-sm">
                        <a class="btn btn-danger float-right" asp-controller="Recipe" asp-action="DeleteRecipe" asp-route-id='@Model["id"]'><i class="fas fa-trash-alt"></i> DELETE</a>
                    </div>
                </div>
            }
        </div>
    </div>

</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    var accessToken = "@Model["access_token"]";
    var sendID = "@Model["id"]";
    $.ajax({
        url: 'http://localhost:5000/api/recipes/' + sendID,
        type: 'GET',
        beforeSend: function (xhr) {
            xhr.setRequestHeader('Authorization', 'Bearer ' + accessToken);
        },
        data: {},
        success: function (data) {
            console.log(data);

            $("#recipe_name").text(data.name);
            $("#recipe_description").text(data.description);
            $("#recipe_img").attr("src", "/img/" + data.photoName);

        },
        error: function (msg) { console.log(msg) },
    });
</script>